<ns-action-bar [title]="'Current Challenge'">
    <ActionItem ios.position="right" android.position="actionBar">
        <Label text="Edit" (tap)="onEdit()"></Label>
    </ActionItem>
    <ActionItem ios.position="right" android.position="actionBar">
        <Label text="Replace" (tap)="onReplace()"></Label>
    </ActionItem>
</ns-action-bar>
<StackLayout>
    <Label class="title" 
    [text]="currentChallenge"></Label>
    <Button text="Open" class="btn" (tap)="onChangeStatus()"></Button>
</StackLayout>