<ns-action-bar [title]="'Current Challenge'">
    <ActionItem ios.position="right" android.position="actionBar">
        <Label text="&#xf044;" android:class="fa actions p-x-5" ios:class="fa p-x-5" (tap)="onEdit()"></Label>
    </ActionItem>
    <ActionItem ios.position="right" android.position="actionBar">
        <Label text="&#xf0fe;" android:class="fa actions p-x-5" ios:class="fa p-x-5" (tap)="onReplace()"></Label>
    </ActionItem>
</ns-action-bar>
<ScrollView>
    <FlexboxLayout class="page">
        <!-- <Label class="title"
        [text]="currentChallenge"></Label>
        <Button text="Open" class="btn" (tap)="onChangeStatus()"></Button> -->
        <!-- <ScrollView> -->
            <GridLayout rows="auto,auto" columns="auto">
            <!-- <StackLayout> -->
                <Label row="0" col="0" class="h2" text="Take a walk everyday"></Label>
                <Label row="1" col="0" class="body" text="Walk for atleast 20 minutes on everyday of the week"></Label>
            <!-- </StackLayout> -->
            </GridLayout>
            <StackLayout>
                <GridLayout rows="auto,*,*,*,*,*,*" columns="*,*,*,*,*,*,*">
                    <Label class="text-center week-day-label" *ngFor="let weekDay of weekDays; let i=index" [text]="weekDay" row="0" [col]="i"></Label>
                    <FlexboxLayout class="day" [ngClass]="day.date !== todayDate? not-settable: null" *ngFor="let day of days; let i = index;" [row]="getRow(i,day)" [col]="day.dayInWeek">
                        <Label (tap)="onChangeStatus()" [text]="day.date"></Label>
                    </FlexboxLayout>
                </GridLayout>
            </StackLayout>
        <!-- </ScrollView> -->
    </FlexboxLayout>
</ScrollView>
