<ns-action-bar title="LogIn" [showBackButton]="false" [hasMenu]="false"></ns-action-bar>
<StackLayout class="form">
    <StackLayout class="input-field">
        <Label text="Email ID" class="label" [ngClass]="{invalid: false}"></Label>
        <TextField required returnType="next" class="input"></TextField>
        <Label *ngIf="false" text="Please enter a valid email"></Label>
    </StackLayout>
    <StackLayout class="input-field">
        <Label text="Password" [ngClass]="{invalid: false}" class="label"></Label>
        <TextField returnKey="done" hint="Must have 6+ characters" required class="input"></TextField>
        <Label *ngIf="false" text="Invalid Password"></Label>
    </StackLayout>
    <Button text="Log In" class="btn btn-primary btn-rounded-lg" (tap)="onSubmit()"></Button>
</StackLayout>
