<ns-action-bar [title]="isCreating?'Replace Challenge':'Edit Challenge'" [hasMenu]="false"></ns-action-bar>
<StackLayout>
    <FlexboxLayout justifyContent="flex-start" flexDirection="column" alignItems="center" class="form">
        <StackLayout class="input-field">
            <Label text="Title" class="label" [ngClass]="{invalid: !titleCtrl.valid && titleCtrl.touched}"></Label>
            <TextField required returnType="next" ngModel #titleCtrl="ngModel" class="input"></TextField>
            <Label *ngIf="!titleCtrl.valid && titleCtrl.touched" text="Please enter a valid title"></Label>
        </StackLayout>
        <StackLayout class="input-field">
            <Label text="Description" [ngClass]="{invalid: !desc.valid && desc.touched}" class="label"></Label>
            <TextView returnKey="done" ngModel #desc="ngModel" required class="input"></TextView>
            <Label *ngIf="!desc.valid && desc.touched" text="Please fill the description"></Label>
        </StackLayout>
        <Button class="btn btn-primary btn-rounded-lg" (tap)="onSubmit(titleCtrl.value, desc.value)" [isEnabled]="titleCtrl.valid && desc.valid" text="Submit"></Button>
        <!-- <TextField class="text-input" hint="Challenge Title"  [(ngModel)]="challengeDescription"></TextField>
        <Button class="btn" (tap)="onAddChallenge()" text="Add Challenge"></Button> -->
        <!-- <Label class="title" text="The Edit Page"></Label> -->
    </FlexboxLayout>
</StackLayout>
