/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';
.btn{
    background: #29425f;
    border-width: 1;
    border-color: rgb(41, 66, 95);
    border-radius: 30%;
    padding: 5 10;
    width: 100%;
    margin: 5 0;
    color: white;
}
.title{
    font-size: 26;
    text-align: center;
    color: rgb(41, 66, 95);
    font-weight: bold;
}
.drawer-container{
    background: linear-gradient(140deg, rgb(73, 73, 105), black);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20;
}